langchain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-deepseek
langchain-google-genai
langchain-groq
langchain-openrouter
ipykernel
langchain-chroma
gradio
python-dotenv
langchain-mcp-adapters
chromadb
modal