langchain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-deepseek
langchain-google-genai
langchain-groq
langchain-openrouter
ipykernel
gradio
python-dotenv
langchain-mcp-adapters
langchain-pinecone
pinecone-client